<aside class="aside scrollbar">
  <nav class="sidebar-nav">
    <ul>
      <li>
        <a href="#" class="active">
          <span class="nav-icon">
            <img [src]="dashboardIconUrl" alt="" />
          </span>
          <span> Dashboard </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="nav-icon">
            <img [src]="contactIconUrl" alt="" />
          </span>
          <span> Contact Management </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="nav-icon">
            <img [src]="teamIconUrl" alt="" />
          </span>
          <span> Team Monitoring </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="nav-icon">
            <img [src]="queueIconUrl" alt="" />
          </span>
          <span> Queue Statistics </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="nav-icon">
            <img [src]="interactionIconUrl" alt="" />
          </span>
          <span> Interaction Explorer </span>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="">
          <span class="nav-icon">
            <img [src]="settingsIconUrl" alt="" />
          </span>
          <span> Settings </span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="nav-icon">
            <img [src]="helpIconUrl" alt="" />
          </span>
          <span> Help </span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
